#showcase{

    .showcase_section{
        display: grid;
        grid-template-columns: 3fr 01fr;
        gap: 50px;
    }

    .data_struction{
        display: flex;
        justify-content: space-between;
        gap: 15px;
        flex-wrap: wrap;
    }
    .data_struction_box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 5px;
        text-align: center;
        padding: 25px;
        border: 2px solid #EE34F2;
        border-radius: 20px;

        h1{
            color: #161B23;
            font-size: 22px;
            font-weight: 400;
        }

        h2{
            color: #161B23;
            font-size: 22px;
            font-weight: 700;
        }
    }

    .children_data{
        overflow-y: scroll;
        height: 450px;
        margin-top: 50px;
        padding-right: 10px;
        grid-column: 1/2;

    }

    .children_data_box{
        border: 2px solid #EE34F2;
        border-radius: 20px;
        padding: 12px 20px;
        margin-top: 42px;

        display: flex;
        justify-content: space-between;
        align-items: center;

        h1{
            color: #161B23;
            font-size: 22px;
            font-weight: 600;
        }

        h2{
            color: #161B23;
            font-size: 20px;
            font-weight: 400;

            span{
                font-weight: 600;
            }
        }
    }
    .children_box_2{
        display: flex;
        flex-direction: column;
        gap: 13px;
        padding: 20px 0 20px 15px;
        text-align: center;
        border-left: 1px solid #EE34F2;
    }

    .filtr_box{
        grid-column: 2/3;
        grid-row: 1/3;
        form{
            display: flex;
            flex-direction: column;
            width: 340px;
            gap: 60px;
            border-radius: 20px;
            border: 2px solid #EE34F2;
            background: #FFF;
            padding: 50px 30px;
        }

        a{
            color: #FFF;
            text-align: center;
            font-size: 22px;
            font-weight: 700;
            border: 2px solid #EE34F2;
            background: #EE34F2;
            padding: 27px 5px;
        }

        button{
            cursor: pointer;
        }

        .btn{
            color: #161B23;
            text-align: center;
            font-size: 22px;
            font-weight: 600;
            border-radius: 20px;
            border: 2px solid #EE34F2;
            background: #FFF;
            padding: 20px 0;
        }

        .create_btn{
            color: #FFF;
            text-align: center;
            font-size: 22px;
            font-weight: 600;
            border-radius: 50px;
            background: #8A2BE2;
            padding: 20px 0;
            border: none;
        }
    }
}